.input-wrap {
    display: flex;
    flex-direction: column;
}
.input-wrap + .input-wrap {
    margin-top: 12px;
}
.input-wrap label {
    color: #191F28;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.input-wrap input {
    display: inline-block;
    margin-top: 6px;
    padding: 13px 16px;
    font-size: 14px;
    border: 2px solid var(--gray-3);
    border-radius: 16px;
    background: var(--gray-3);
    box-sizing: border-box;
}
.input-wrap input::placeholder {
    color: var(--gray-5);
}
.input-wrap input:focus {
    border: 2px solid var(--blue-2);
    background: var(--white);
}