.teamsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title {
    color: var(--gray-9);
    font-size: 24px;
    font-weight: 700;
}

.subTitle {
    color: var(--gray-6);
    font-size: 14px;
    font-weight: 600;
}

.teamsHeader .linkBtn {
    width: auto;
    max-width: inherit;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    background: var(--blue-8);
    border-radius: 16px;
    box-shadow: 0 10px 15px -3px rgba(190, 219, 255, 0.60), 0 4px 6px -4px rgba(190, 219, 255, 0.60);
    flex-shrink: 0;
}

.linkBtn:hover {
    background-color: #1B6EF3;
}


.headerRight {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerRight .downloadBtn {
    headerRight: flex;
    align-items: start;
    justify-content: center;
    padding: 10px 14px;
    gap: 6px;
    border: 0.8px solid var(--gray-5);
    color: var(--gray-7);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
}

.headerRight .downloadBtn:hover {
    background-color: var(--gray-3);
}
