@media screen and (max-width: 768px) {
    :global(.auth-layout) {
        background: var(--white);
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    :global(.auth-layout) :global(.logo) {
        display: none;
    }

    :global(.auth-layout) :global(.card) {
        box-shadow: none;
        min-width: 100%;
        width: 100%;
        box-sizing: border-box;
    }
}