.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title {
    color: var(--gray-9);
    font-size: 14px;
    font-weight: 700;
}

.subTitle {
    color: var(--gray-6);
    font-size: 12px;
    font-weight: 600;
}

.escalationNotice {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
    padding: 14px 16px;
    border-radius: 16px;
    background-color: #FFF7ED;
    border: 0.8px solid var(--orange-3);
    box-sizing: border-box;
}

.escalationTitle {
    color: var(--red-9);
    font-size: 14px;
    font-weight: 700;
}

.escalationText {
    color: #F54900;
    font-size: 12px;
    font-weight: 600;
}

.reviewerList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 12px;
}

.reviewerBox {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    border-radius: 16px;
    background: var(--gray-3);
    gap: 8px;
}

.reviewerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviewerName {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-9);
    font-size: 14px;
    font-weight: 700;
}

.opinion {
    color: var(--gray-7);
    font-size: 12px;
    font-weight: 600;
}

.reason {
    padding-top: 8px;
    border-top: 0.8px solid rgba(0, 0, 0, 0.06);
    color: var(--gray-6);
    font-size: 11px;
    font-weight: 600;
}

.reasonTitle {
    color: var(--gray-8);
}

.summaryRow {
    display: flex;
    margin-top: 16px;
    gap: 16px;
}

.summaryBox, .categoryBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px 20px;
    border-radius: 16px;
    background: var(--blue-1);
    gap: 6px;
}

.categoryBox {
    margin-top: 12px;
}

.summaryLabel {
    color: var(--gray-6);
    font-size: 12px;
    font-weight: 600;
}

.summaryValue {
    color: var(--gray-9);
    font-size: 14px;
    font-weight: 700;
}


@media screen and (max-width: 768px) {
  .summaryRow {
      flex-direction: column;
  }
}

