.dashboard-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.dashboard-container .content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title p{
    color: var(--gray-9);
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
}

.title span {
    color: var(--gray-6);
    font-size: 14px;
    line-height: 20px;
}

.expenses-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    height: 40px;
    padding: 14px 16px;
    border-radius: 16px;
    gap: 6px;
    background-color: #3182F6;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.total-budget-card {
    width: 860px;
    height: auto;
    padding: 24px;
    margin-top: 20px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.total-budget-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-budget-header span {
    color: #6A7282;
    font-size: 14px;
    font-weight: bold;
}

.total-budget-header p {
    color: #99A2AF;
    font-size: 12px;
    font-weight: 600;
}

.budget-progress-section {
    padding-top: 8px;
}

.progress-content {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.progress-content p {
    color: #191F27;
    font-size: 36px;
    font-weight: bold;
}

.progress-content span {
    padding-bottom: 8px;
    color: #99A1AF;
    font-size: 16px;
    font-weight: 600;
}

.progress-bar-container {
    width: 820px;
    height: 24px;
    padding-bottom: 16px;
}

.progress-bar-track {
    width: 820px;
    height: 8px;
    border-radius: 16px;
    background-color: #F3F4F6;
    overflow: hidden;
}

.progress-bar-fill {
    height: 8px;
    border-radius: 16px;
    background-color: #3182F6;
    transition: width 0.4s ease-in-out;
}

.budget-status-section {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 0.8px solid rgba(0, 0, 0, 0.05);
}

.budget-status {
    width: 260px;
}

.budget-status span {
    color: #99A1AF;
    font-size: 12px;
    font-weight: 600;
}

.budget-status p {
    font-size: 16px;
    font-weight: bold;
}

.used-budget p {
    color: #3182F6;
}

.pending-budget p {
    color: #FE9A00;
}

.remain-budget p {
    color: #00BC7D;
}

.statistics-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.monthly-card, .category-card {
    width: 422px;
    height: 226px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.statistics-section p {
    color: #191F28;
    font-size: 14px;
    font-weight: bold;
}

.donut-chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 382px;
    height: 141px;
    padding-top: 16px;
    gap: 32px;
}

.donut-chart-left {
    width: 130px;
    height: 110px;
}

.donut-legend-right {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 125px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-color-dot {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    display: inline-block;
}

.legend-text {
    font-size: 14px;
    color: #4b5563;
    font-weight: 500;
}

.request-card {
    width: 860px;
    height: auto;
    margin-top: 20px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
}

.request-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-left p {
    color: #191F28;
    font-size: 14px;
}

.request-list-header span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    background-color: #FFB900;
    color: #FFFFFF;
    font-size: 10px;
}

.request-card .header-right {
    color: #3182F6;
    font-size: 12px;
}

.request-item {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    border-top: 0.8px solid rgba(0, 0, 0, 0.05);
}

.request-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 16px;
    background-color: #DFF2FE;
}

.content-title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
}

.content-title p {
    color: #191F28;
    font-size: 14px;
}
/* 
.content-title span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    width: 43px;
    height: 20px;
    border-radius: 16px;
    background-color: #FFFBEB;
    color: #E17100;
    font-size: 12px;
}

.content-title .danger {
    background-color: #FEF2F2;
    color: #FB2C36;
}

.content-detail {
    color: #99A1AF;
    font-size: 12px;
    font-weight: 600;
} */