.step {
    margin-top: 12px;
} 

@media (max-width:768px) {
    .step{
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        height: 0;
        overflow: hidden;
    }
    .step.show {
        opacity: 1;
        height: auto;
    }
}
