@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .4;
    }
}

.listContainer {
    display: flex;
    flex-direction: column;
}

.memberItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.itemLeft {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.nameBox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.skeletonName {
    width: 60px;
    height: 14px;
    background-color: var(--gray-3);
    border-radius: 4px;
}

.skeletonBadge {
    width: 48px;
    height: 18px;
    background-color: var(--gray-3);
    border-radius: 999px;
}

.skeletonEmail {
    width: 140px;
    height: 12px;
    background-color: var(--gray-3);
    border-radius: 4px;
}

.itemRight {
    display: flex;
    align-items: center;
    gap: 4px;
}


.skeletonButton {
    width: 68px;
    height: 28px;
    background-color: var(--gray-3);
    border-radius: 6px;
}