.groupCard {
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.groupCard:hover {
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.1);
}

.groupCard:hover .title {
    color: var(--blue-8);
}

.cardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.cardHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    color: var(--gray-9);
    font-size: 16px;
    font-weight: 700;
}

.subTitle {
    color: var(--gray-6);
    font-size: 12px;
    font-weight: 600;
}

.progressSection {
    color: var(--gray-6);
    font-size: 12px;
    font-weight: 600;
}

.progressHeader {
    padding-bottom: 8px;
}

.progressHeader, .progressFooter {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .progressFooter {
      gap: 10px;
  }
  .progressFooter p {
      width: 50%;
      word-break: break-all;
  }
  .progressFooter p:last-child {
        text-align: right;
  }
}