.layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
.layout:has(.sidebar-container.closed) .header-container {
    padding-left: 80px;
}
.layout:has(.sidebar-container.closed) .main-area main {
    padding-left: 140px;
}

.main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.main-area main {
    justify-content: center;
    background-color: #F6F7FB;
    min-height: 100vh;
    transition: all .3s;
    padding: 84px 72px 32px 292px;
}
.header-container {
    padding-left: 240px;
}