.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100vh;
    background: #FFFFFF;
    border-right: 0.8px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    transition: width 0.3s ease;
    z-index: 2000;
}

.sidebar-container.closed {
    width: 68px;
}

.logo-section {
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 16px;
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.logo-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    font-size: 15px;
}

.menu-section {
    padding: 12px 8px 16px;
    gap: 2px;
    height: 100%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 203px;
    height: 40px;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #99A1AF;
    transition: width 0.3s ease;
    box-sizing: border-box;
}

.menu.closed {
    width: 51px;
}

.menu.active {
    color: #3182F6;
    background-color: #EBF3FE;
    border-radius: 16px;
}

.sidebar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 18px;
    border: 0.8px solid #E5E7EB;
}

.sidebar-toggle img {
    width: 10px;
    height: auto;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .sidebar-container  {
        width: 100vw;
        box-sizing: border-box;
        border-right: none;
    }
    .sidebar-container .logo-section {
        border-bottom: none;
    }
    .sidebar-container .sidebar-toggle {
        right: 20px;
    }
    .sidebar-container .menu-section  {
        position: absolute;
        top: 60px;
        left: 0%;
        transition: left 0.5s ease; 
        width: 100%;
        height: calc(100% - 60px);
        box-sizing: border-box;
        overflow: auto;
        background: var(--white);
    }
    .sidebar-container .menu-section .menu {
        width: 100%;
    }
    
    .sidebar-container.closed  {
        background: none;
    }
    .sidebar-container.closed .sidebar-toggle {
        left: 5px;
    }
    .sidebar-container.closed .menu-section  {
        left: -100%;
    }
}