.summarySection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 12px;
}

.downloadBtn {
    display: inline-flex;
    align-items: flex-start;
    gap: 6px;
    color: var(--gray-7);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 0.8px solid var(--gray-5);
    padding: 10px 14px;
}

.downloadBtn:hover {
    background-color: var(--gray-3);
}

.errorCard {
    margin-top: 4px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.errorTextTitle {
    color: var(--gray-9);
    font-size: 16px;
    font-weight: 700;
}

.errorTextSub {
    color: var(--gray-7);
    font-size: 14px;
    font-weight: 600;
}

.errorBtn {
    max-width: 120px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width:768px) {
    .summarySection {
        grid-template-columns: repeat(1, 1fr);
    }
}