.reportContainer {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    margin: 0 auto;
    gap: 20px;
}

.reportHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--gray-9);
    font-size: 20px;
    font-weight: 700;
}

.subTitle {
    color: var(--gray-6);
    font-size: 14px;
    font-weight: 600;
}

.headerBtnSection {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerBtnSection .downloadBtn {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px 14px;
    gap: 6px;
    border: 0.8px solid var(--gray-5);
    color: var(--gray-7);
    font-size: 14px;
    font-weight: 700;
    background: transparent;
}

.headerBtnSection .downloadBtn:hover {
    background-color: var(--gray-3);
}

.summarySection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 860px;
    width: 100%;
    gap: 12px;
}