.myPageContainer {
    display: flex;
    max-width: 480px;
    margin: 0 auto;
    flex-direction: column;
}

.backLink {
    text-align: left;
}

.profileCard {
    margin-top: 4px;
}

.grouplistCard {
    margin-top: 16px;
}

.errorCard {
    margin-top: 4px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    gap: 12px;
}

.errorTextTitle {
    color: var(--gray-9);
    font-size: 16px;
    font-weight: 700;
}

.errorTextSub {
    color: var(--gray-7);
    font-size: 14px;
    font-weight: 600;
}

.errorBtn {
    max-width: 120px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 600;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 0px;
    margin-top: 16px;
    gap: 8px;
    border: 1.6px solid #FFE2E2;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    color: var(--red-7);
}